
<div class="jumbotron">
  <h1>Open Todo API</h1>
  <p>Build an externally usable API for a basic to-do list application. This API will allow users to modify user accounts and to-do items from the command line.</p>
  <p><%= link_to "Learn more", about_path, class: "btn btn-md btn-primary" %></p>
</div>